<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}


          <li><a href="{{ site.linkedin_url }}"><span class="icon icon--twitter">{% include icon-linkedin.svg %}</a></li>
          <li><a href="mailto:{{ site.email }}"><span class="icon icon--twitter">{% include icon-email.svg %}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>To get in touch feel free to <a href="mailto:{{ site.email }}">email</a>, <a href="https://twitter.com/{{ site.twitter_username: }}">tweet</a> or use <a href="{{ site.linkedin_url }}">linkedin</a>.</p>
      </div>
    </div>

  </div>

</footer>
